@font-face {
    font-family: 'Display Font';
    src: url('../css/fonts/FiraSansOT-Regular.otf');
}


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: sans-serif;
}

.bg_home{
    max-width: 100%;
    height: 100%;
    background-image: url("../images_applicant_portal/smic_cover.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    /* background-color:#073784; */
    background-color: white;

}

li a {
    text-decoration:none;
}

li a:visited {
    color:white;
}

td a {
    text-decoration:none;
}

td a:visited {
    color:blue;
}

.link a {
    text-decoration:none;
}

.link a:visited {
    color:blue;
}

.space {
    height:auto;
    max-width:42%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

a:link {
    font-size: 14px;
    font-family: "Display Font";
}
a:visited {
    font-size: 14px;
    font-family: "Display Font";
}
a:hover {
    font-size: 14px;
    font-family: "Display Font";
}
a:active {
    font-size: 14px;
    font-family: "Display Font";
}

hr {
    margin-top:2%;
    margin-bottom:2%;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

.containers {
    border:5px solid #073784;
    border-radius:5px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    max-width:40%;
    padding-top:3%;
    padding-bottom:3%;
    text-align:center;

}

.login_text td {
    padding-top:5px;
}

input[type=submit] {
    margin-left: 7px;
    margin-right: 7px;
    border-style: solid;
    border-width: 1px;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type=submit]:hover {
    cursor: pointer;
}
input[type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
}
input[type=submit].focus {
    border-style: solid;
    border-width: 1px;
}
input[type=submit].cancel:hover {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
input[type=submit].submit:hover {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

input[type=submit] {
    color: #111111;
    border-color: #aaaaaa;
    background-color: #eeeeee;
    text-shadow: 0px 1px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);
}
input[type=submit]:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
}
input[type=submit]:active {

}
input[type=submit]:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
}
input[type=submit].cancel:hover, input[type=submit].cancel:focus {
    border-color: #cc0000;
    text-shadow: 0px 0px 0px #ffffff;
    background-color: #ff3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#aa0000));
    background: -moz-linear-gradient(top,  #ff9999,  #cc0000);
    background: -o-linear-gradient(top,  #ff3333,  #aa0000);
}
input[type=submit].submit:hover, input[type=submit].submit:focus {
    border-color: #2aff1a;
    text-shadow: 0px 0px 0px #ffffff;
    background-color: #95ff8d;
    background: -webkit-gradient(linear, left top, left bottom, from(#95ff8d), to(#279918));
    background: -moz-linear-gradient(top,  #95ff8d, #279918);
    background: -o-linear-gradient(top,  #95ff8d, #279918);
}

input[type=text] {
    padding: 6px;
    margin: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type=text]:focus {
    border-style: solid;
    border-width: 1px;
}
input[type=password] {
    padding: 6px;
    margin: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type=password]:focus {
    border-style: solid;
    border-width: 1px;
}
input[type=text] {
    color: #000000;
    border-color: #aaaaaa;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}
input[type=text]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=password] {
    color: #000000;
    border-color: #aaaaaa;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}
input[type=password]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

.messageError {
    margin: 0px;
    padding: 3px;
    border-style: solid;
    border-width: medium;
    border-collapse: collapse;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.messageError {
    color: #000000;
    border-color: #990000;
    background-color: #cc3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#cc3333), to(#aa3333));
    background: -moz-linear-gradient(top,  #cc3333,  #aa3333);
    background: -o-linear-gradient(top,  #cc3333,  #aa3333);
    text-shadow: 1px 1px 1px #dc5252;
}

.header_menu li{
    display: inline;
    padding: 0 5%;
}

.header_menu li:hover{
    text-decoration: underline;
}
/* slide show */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
